cp-file-upload{

    button{
        border: none;
        padding: 7px 18px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.9rem;
    }

    input {
        display: none;
    }

    .content {
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        button {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .button-group {
            display: flex;
            align-items: center;
            height: 46px;
            svg {
                width: 18px;
            }
            .left {
                height: 36px;
                flex: 1;
            }
            .rigth {
                height: 36px;
            }
        }
    }

    .alert-empty {
        background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
        background-repeat: repeat-x;
        border-color: #9acfea;
        color: #31708f;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        p {
            padding: 0px;
            margin: 0px;
        }
        svg {
            width: 34px;
            margin-right: 14px;
        }
    }

    .clean-button {
        margin: 0 0 0 37%;
    }

    .alert-has-file {
        background-color: #d7eac8;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        p {
            padding: 0px;
            margin: 0px;
        }
        svg {
            width: 34px;
            margin-right: 14px;
        }
        .has-file-group {
            display: flex;
            align-items: center;
            justify-content: center;
            .properties-file {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .alert-has-error {
        background-color: #ec2626;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        p {
            padding: 0px;
            margin: 0px;
        }
        svg {
            width: 44px;
            height: 44px;
            margin-right: 14px;
        }
    }

    .inside-load-bar {
        color:#337ab7;
        background-color:#337ab7;
        height:15px; 
        border-radius: 5px; 
        border:none; 
        margin:0; 
    }
    
    .outside-load-bar {
        border: 2px solid #d7eac8;
        padding:none; 
        border-radius: 5px; 
        background: #F5F5F5;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
    }
}
